/* styles specific to about page */
.team-member {
    height: 150px;
    border-radius: 50%;
}

.org-logo {
    height: 100px;
}

.member-wrap {
    display: flex;
}

.member-image {
    width: unset;
    margin-bottom: 10px;
}

.member-image img {
    border-radius: 10px;
}

.member-details {
    flex-grow: 1;
    margin: 0 15px;
}

.team-name {
    font-weight: bold;
}

.team-biography {
    height: 100%;
    overflow-y: auto;
    max-height: calc(100vh - 250px);
}

.pointer {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .member-wrap {
        display: block;
    }

    .member-details, .member-image, .member-image img {
        float: unset;
        width: 100%;
    }

    .member-details img {
        flex-grow: unset;
        width: 100%;
    }
}

.logo-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.minicard {
    width: 250px;
    height: 150px;
}

.centered {
    margin: auto;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

#container {
  height: 400px;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}