{% extends "WebApp/app_base.html" %}
{% load static %}
{% block title %}Guyana Mangroves{% endblock %}
{% block script %}
    <!-- Custom styles-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link href="{% static '/css/about.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom scripts-->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{% static 'js/about.js' %}"></script>
{% endblock %}

{% block content %}
    <br>
    <!-- Root container for the about page's content -->
    <div class="container-fluid  bg-gray-300">
        <!-- About -->
        <!-- Update the text inside <p> tags in order to update the about text -->
        <div class="row">
            <div class="col-lg-12 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">About this application</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-left text-dark">
                            <p>GuyMIS is a web application dedicated to monitoring the extent and the change of
                                mangroves in Guyana.
                                Mangroves serve as a link between terrestrial and marine environments and as such,
                                perform multiple functions including coastal protection, livelihoods for coastal
                                communities, carbon sequestration and other countless ecosystem services. . The loss of
                                mangroves has generated diverse negative climatic, social, ecological, and environmental
                                impacts, thereby promoting the need for strategic plans for management, protection, and
                                restoration actions.

                                Guyana has taken progressive steps to manage its mangrove forests by implementing
                                several strategies with National Agricultural Research and Extension Institute (NAREI)
                                leading the drive to sustainably manage, restore and monitor the country’s mangrove
                                resources since 2010.

                                This web application is a critical component of NAREI’s mangrove monitoring system,
                                which integrated GIS, remote sensing, field surveys and community engagement and
                                research to better monitor and assess Guyana’s mangroves.

                                The objective of the App is to make mangrove-related data freely available to partner
                                organizations, government, and civil society on mangrove-related land-use change data
                                that will allow for improved and efficient decision-making and actions related to
                                hotspots of deforestation; engagement in land-use planning, policy-making, and actions
                                that protect mangroves; planning for protection of farmers in low-lying coastal area;
                                and efforts to support forest and biodiversity conservation in Guyana.
                                A publication detailing the methodology used for this tool is in preparation.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team member listing -->
        <!-- Change the path in src of <img> tag in order to replace a team member's picture -->
        <div class="row">
            <div class="col-lg-12 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Team members</h6>
                    </div>
                    <div class="card-body text-center">
                        <span onclick="open_more_info(this)"
                              class="p-3 d-inline-block text-decoration-none pointer"><img
                                src="{% static 'images/teammembers/kene.png' %}" alt="img1"
                                class="team-member">
                                            <p>Kene Moseley<br>(NAREI)</p>
                                            <span style="display:none;" class="member_title">
                                                Project Coordinator of Mangrove Restoration and Management Department
                                            </span>
                                            <span style="display:none;" class="more_info">
                                        Kene Moseley is the Project Coordinator of Mangrove Restoration and Management Department of NAREI.  Kene has over a decade of experience successfully implementing various restoration interventions along Guyana's coast.  She has a Diploma in Project Management, Post Graduate Diploma in Urban Planning and Management and Certificate in Sustainable Environmental Management.</span>
                                        </span>

                        <span onclick="open_more_info(this)"
                              class="p-3 d-inline-block text-decoration-none pointer"><img
                                src="{% static 'images/teammembers/kim.png' %}" alt="img1"
                                class="team-member">
                                            <p>Kim Chan-Bagot<br>(NAREI)</p>
                                            <span style="display:none;" class="member_title">
                                                Geographical Information Systems (GIS) Consultant
                                            </span>
                                            <span style="display:none;" class="more_info">
                                        Kim Chan-Bagot is a Geographical Information Systems (GIS) Consultant for SERVIR-Amazonia and National Agricultural Research and Extension Institute (NAREI) Mangrove Department. She specializes in the use of optical and radar remote sensing applications for land use and land cover change (particularly in mangrove forest), vulnerability and sensitivity assessments and impact assessments in Guyana. She has a BSc in Geography, MSc in Disaster Risk Management and Climate Governance and MSc in Urban and Regional Planning.</span>
                                        </span>

                        <span onclick="open_more_info(this)"
                              class="p-3 d-inline-block text-decoration-none pointer"><img
                                src="{% static 'images/teammembers/zola.jpg' %}" alt="img1"
                                class="team-member">
                                            <p>Zola Narine<br>(NAREI)</p>
                                            <span style="display:none;" class="member_title">
                                                Monitoring/Geographical Information Systems (GIS) Officer
                                            </span>
                                            <span style="display:none;" class="more_info">
                                        Zola Narine is the Monitoring/Geographical Information System (GIS) Officer for NAREI’s Mangrove Departement. Her work involves management of the Mangrove GIS database and mapping of mangrove forest in Guyana. She holds a Certificate in Agriculture, Diploma in Forestry and BSc in Forestry.</span>
                                        </span>

                        <span onclick="open_more_info(this)"
                              class="p-3 d-inline-block text-decoration-none pointer"><img
                                src="{% static 'images/teammembers/AlexGoberna.jpg' %}" alt="img1"
                                class="team-member">
                                            <p>Alexandre Goberna<br>(SERVIR SCO GIT)</p>
                                            <span style="display:none;" class="member_title">
                                                Software Development Lead for the Guyana Mangroves Monitor
                                            </span>
                                            <span style="display:none;" class="more_info">
                                        Alex is a member of the SERVIR Science Coordination Office's Geospatial Information Technology team. As a fullstack software engineer Alex assists in development and deployment of applications for the SERVIR member hubs.
                                    </span>
                                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Disclaimer -->
    <!-- Update the text inside <strong> in order to update the disclaimer text -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow ml-4 mr-4 mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Disclaimer</h6>
                </div>
                <div class="card-body">
                    <div class="text-left text-dark">
                        <strong>SERVIR Program, NASA, USAID and SERVIR partner organizations
                            make no express or implied warranty of this application as to the
                            merchantability or fitness for any particular purpose.
                            Neither the US Government nor its contractors shall be liable for
                            special, consequential or incidental damages attributed to this application.</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Logos -->
    <!-- Update the path inside src of <img> tag in order to update the logo images -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow m-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Logos</h6>
                </div>
                <div class="logo-container">
                    <div class="card-body text-center">
                        <a href="" class="p-3"><img class="org-logo" src="{% static 'images/logos/AMZ_Alliance.jpg' %}"></a>
                    </div>
                    <div class="card-body text-center">
                        <a href="" class="p-3"><img class="org-logo"
                                                    src="{% static 'images/logos/GuyanaMinistryofAgricultureLogo.png' %}"></a>
                    </div>
                    <div class="card-body text-center">
                        <a href="" class="p-3"><img class="org-logo" src="{% static 'images/logos/NAREI-Logo.webp' %}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    </div>
    {% include 'WebApp/about_about.html' %}
    <div class="modal fade" id="teamMemberModal" tabindex="-1" role="dialog" aria-labelledby="teamMemberModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="teamMemberModalLabel">Team Member Name</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Add team member information here -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
