{% extends "WebApp/app_base.html" %}

{% load static %}

{% block title %}Amazon Fire Dashboard{% endblock %}
{% block script %}
    <!-- Leaflet-->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.control.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
          integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
            integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
    <script src="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js"
            integrity="sha512-E0DKVahIg0p1UHR2Kf9NX7x7TUewJb30mxkxEm2qOYTVJObgsAGpEol9F6iK6oefCbkJiA4/i6fnTHzM6H1kEA=="
            crossorigin=""></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/iso8601-js-period@0.2.1/iso8601.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.min.js"></script>
    <script src="{% static '/js/L.Control.Opacity.js' %}"></script>
    <link href="{% static '/css/L.Control.Opacity.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/3.0.5/leaflet-search.src.js"
            integrity="sha512-PDM7dpetuBcPp2fV/ZyCj9BGV8ybPchsrSzQqVZ3WoM8YcxEa2lAj0n1+4MCRzgsEROmVTwQXGw0IrXCCgH+/Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static '/js/leaflet-providers.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>
    <script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
    <script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>
    <script src="{% static 'js/utils.js' %}"></script>

    <script src="{% static 'js/basemaps.js' %}"></script>
    <link
            rel="stylesheet"
            href="{% static '/css/geosearch.css' %}"
    />

    <link href="{% static '/css/map_chart.css' %}" rel="stylesheet"/>

    <script src="{% static '/js/geosearch.umd.js' %}"></script>
    <script src="{% static '/js/map_utils.js' %}"></script>

    <script src="{% static '/js/map_chart.js' %}"></script>

{% endblock %}

{% block content %}
    <div class="row">
        <div id="map_chart" style="height:calc(100vh - 166px);">
        </div>
        <div id="download_container">
            <button type="button" class="btn btn-light" onclick="download_geojson()">Download GeoJSON</button>
            <button type="button" class="btn btn-light" onclick="download_zip()">Download Zipped Shapefiles</button>
            <a id="download_link" style="display: none" download></a>
        </div>

        <div id="slideOut">
            <!--   // Tab -->
            <div id="slideOutTab" class="slideOutTab">
                <div>
                    <p>Statistics</p>
                </div>
            </div>

            <div class="card shadow h-70">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Fire Alerts</h6>
                </div>
                <div class="card-body" style="width: 100%">
                    <div class="d-flex" style="justify-content: space-around">
                        <div class="d-flex" style="width: 40%">
                            <div id="active-fires">
                                <label>Active Fires:</label>
                                <h5 id="active-fire-count" class="text-center"></h5>
                            </div>
                        </div>
                        <div class="d-flex" style="width: 40%">
                            <div id="new-fires">
                                <label>New Fires:</label>
                                <h5 id="new-fire-count" class="text-center"></h5>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="d-flex" style="justify-content: space-around; height: 85%">
                        <div class="d-flex" style="width: 45%">
                            <div id="largest-fires">
                                <label>Largest Active Fires</label>
                                <div id="largest-fires-div">
                                    <table class="table" id="fires-table">
                                        <thead>
                                        <tr id="largest-fires-table-header">
                                            <th scope="col">Type</th>
                                            <th scope="col">Size</th>
                                            <th scope="col">Start Date</th>
                                        </tr>
                                        </thead>
                                        <tbody id="largest-fires-table-body">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex" style="width: 45%">
                            <div id="protected-area-alert">
                                <label>Protected Area Alert</label>
                                <div id="protected-fires-div">
                                    <table class="table" id="protected-table">
                                        <thead>
                                        <tr id="protected-fires-table-header">
                                            <th scope="col">Type</th>
                                            <th scope="col">Size</th>
                                            <th scope="col">Start Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <link rel="stylesheet" href="{% static 'css/common.css' %}">
            <div id="chart" class="card shadow h-30">
            </div>
        </div>
        <div id="loader">
            <div>
                <h1 id="load_message" style="color:white;z-index:1000">
                    Loading
                </h1>
            </div>
            <div id="spinner_container">
                <div class="spinner-grow text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-warning" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion" id="mc_tab_container">
        <div id="loading_mc" style="display: none;">
            <div class="spinner-border text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header d-flex" id="headingMC">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseMC" aria-expanded="true"
                        aria-controls="collapseMC">
                    Map Information
                </button>
            </h2>
            <div id="collapseMC" class="accordion-collapse collapse show"
                 aria-labelledby="headingMC" data-bs-parent="#mc_tab_container">
                <div class="accordion-body">
                    <div id="mc_tabs">
                        <div class="p-2 mt-3 outer-tabs">
                            <ul class="m-0 nav nav-fill nav-justified nav-tabs" id="mc_tab_list"
                                role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="active nav-link p-0" id="layers-tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#layers" type="button"
                                            role="tab"
                                            aria-controls="layers" aria-selected="true">
                                        Parameters
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link p-0" id="profile-tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#basemaps" type="button"
                                            role="tab"
                                            aria-controls="basemaps"
                                            aria-selected="false"> Basemaps
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link p-0" id="legends-tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#legends" type="button"
                                            role="tab"
                                            aria-controls="legends"
                                            aria-selected="false"> Legends
                                    </button>
                                </li>
                            </ul>
                            <!-- Tab pane: Layers -->
                            <div class="border-grey bg-white tab-content">
                                <div class="tab-pane active p-2" id="layers"
                                     role="tabpanel"
                                     aria-labelledby="layers-tab">
                                    <a role="button" class="float-left pt-2" href="#" data-bs-toggle="popover"
                                       title="Run Date"
                                       data-bs-trigger="focus"
                                       data-bs-content="Changing this selector will load a new fire event dataset for the specified run date (day of year that fire analysis was conducted)."
                                       data-html="true">
                                        <i class="fa-solid fa-circle-info ml-2 info_btn"></i></a>
                                    <div class="d-flex">
                                        <label class="run-date-label no-wrap">Run Date (Y/M/D)</label>
                                        <select name="run-date" id="run-date" class="form-control placeholder-glow" >
                                        </select>
                                    </div>
                                    <hr>
                                    <div class="d-flex">
                                        <a role="button" class="float-left pt-2" href="#" data-bs-toggle="popover"
                                       title="Filters"
                                       data-bs-trigger="focus"
                                       data-bs-content="The following filters will apply to the data points shown on map and in statistics pane. State selection is only available for the following countries: Brazil, Bolivia, and Peru">
                                        <i class="fa-solid fa-circle-info ml-2 info_btn"></i></a>
                                        <label class="text-center" style="margin-left:auto">Fire Event Filters</label>
                                        <button type="button" class="btn btn-outline-secondary" id="apply" disabled onclick="update_displayed_data()">Apply</button>
                                    </div>
                                    <div class="d-flex" id="aoi-selector-labels">
                                        <label class="text-center w-50" style="margin-left:auto">Country: </label>
                                        <label class="text-center w-50" style="margin-left:auto">State: </label>
                                    </div>
                                    <div class="d-flex" id="aoi-selector">
                                        <div class="d-flex w-40">
                                            <select name="selected_country" id="selected_country" class="form-control" onchange="country_selector_change()">
                                                <option value="0" selected="selected">All Countries</option>
                                            </select>
                                        </div>
                                        <div class="d-flex w-40">
                                            <select name="selected_state" id="selected_state" class="form-control" onchange="state_selector_change()">
                                                <option value="0" selected="selected">All States</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="d-flex" id="dates-selector-labels">
                                        <label class="text-center w-50" style="margin-left:auto">Start Date: </label>
                                        <label class="text-center w-50" style="margin-left:auto">End Date: </label>
                                    </div>
                                    <div class="d-flex" id="dates-selector">
                                        <div class="d-flex">
                                            <input class="form-control" type="date" id="date_input_start"
                                                   style="margin-left:auto" onchange="toggle_apply()">
                                        </div>
                                        <div class="d-flex">
                                            <input class="form-control" type="date" id="date_input_end"
                                                   style="margin-left:auto" onchange="toggle_apply()">
                                        </div>
                                    </div>
                                    <div class="d-flex" id="status-selector-labels">
                                        <label class="text-center w-50" style="margin-left:auto">Fire Type: </label>
                                    </div>
                                    <div class="d-flex" id="aoi-selector">
                                        <div class="d-flex w-40">
                                            <select name="selected_fire_type" id="selected_fire_type" class="form-control" onchange="toggle_apply()">
                                                <option value="0" selected="selected">All Fire Types</option>
                                                <option value="1">Savannah and Grassland</option>
                                                <option value="2">Small Clearing and Agriculture</option>
                                                <option value="3">Understory</option>
                                                <option value="4">Deforestation</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="d-flex" id="status-selector-labels">
                                        <label class="text-center w-100" style="margin-left:auto">Fire Status: </label>
                                    </div>
                                    <div class="d-flex" id="aoi-selector">
                                        <div class="d-flex w-100">
                                            <input type="checkbox" id="active" name="active" checked onchange="toggle_apply()">
                                            <label for="active" class="text-center">Currently Active</label>
                                            <input type="checkbox" id="protected" name="protected" onchange="toggle_apply()">
                                            <label for="protected" class="text-center">Protected Area</label>
                                            <input type="checkbox" id="biome" name="biome" checked onchange="toggle_apply()">
                                            <label for="biome" class="text-center">Amazon Biome</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tab pane: Basemaps -->
                                <!-- This tab is used when there is a need to change basemaps. The basemaps used are present in basemaps.js -->
                                <div class="tab-pane h-100 pt-2" id="basemaps" role="tabpanel"
                                     aria-labelledby="basemaps-tab">
                                    <div class="h-100 text-center">
                                        <div class=" pos d-block">
                                            <div class="map-thumb">
                                                <a id="osm" href="#"
                                                   onclick="add_basemap(this.id);"><img
                                                        src="{% static 'images/basemaps/osm.png' %}"
                                                        alt="img1" class="img-thumbnail" title="Open Street Map">
                                                </a>
                                            </div>
                                            <div class="map-thumb">
                                                <a id="topo" href="#"
                                                   onclick="add_basemap(this.id);"><img
                                                        src="{% static 'images/basemaps/topo.png' %}"
                                                        alt="img1" class="img-thumbnail" title="Open Topography Map">
                                                </a>
                                            </div>
                                            <div class="map-thumb">
                                                <a id="gsatellite" href="#"
                                                   onclick="add_basemap(this.id);"><img
                                                        src="{% static 'images/basemaps/gsatellite.png' %}"
                                                        alt="img1" class="img-thumbnail" title="Google Satellite Map">
                                                </a>
                                            </div>
                                            <div class="map-thumb">
                                                <a id="satellite" href="#"
                                                   onclick="add_basemap(this.id);"><img
                                                        src="{% static 'images/basemaps/satellite.png' %}"
                                                        alt="img1" class="img-thumbnail" title="Satellite Map">
                                                </a>
                                            </div>
                                            <div class="map-thumb">
                                                <a id="terrain" href="#"
                                                   onclick="add_basemap(this.id);"><img
                                                        src="{% static 'images/basemaps/terrain.png' %}"
                                                        alt="img1" class="img-thumbnail" title="Terrain Map">
                                                </a>
                                            </div>
                                            <div class="map-thumb">
                                                <a id="delorme" href="#"
                                                   onclick="add_basemap(this.id);"><img
                                                        src="{% static 'images/basemaps/delorme.png' %}"
                                                        alt="img1" class="img-thumbnail" title="De Lorme Map">
                                                </a>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <!-- Tab pane: Legends -->
                                <!-- This tab is used to display legend for the selected layer(s) -->
                                <div class="tab-pane" id="legends" role="tabpanel"
                                     aria-labelledby="legends-tab">
                                    <div class="h-100 text-center">
                                        <table class="table" id="protected-table">
                                            <thead>
                                            <tr id="protected-fires-table-header">
                                                <th scope="col">Color</th>
                                                <th scope="col">Fire Type</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div class="savannah_label">
                                                    </div>
                                                </td>
                                                <td>
                                                    <label>Savannah and Grassland</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="agri_label">
                                                    </div>
                                                </td>
                                                <td>
                                                    <label>Small Clearing and Agriculture</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="understory_label">
                                                    </div>
                                                </td>
                                                <td>
                                                    <label>Understory</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="deforest_label">
                                                    </div>
                                                </td>
                                                <td>
                                                    <label>Deforestation</label>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>




    {% include 'WebApp/map_fullscreen_about.html' %}
{% endblock %}
