{% extends "WebApp/app_base.html" %}
{% load static %}
{% block title %}Guyana Mangroves{% endblock %}
{% block script %}
    <!-- Custom styles-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link href="{% static '/css/about.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom scripts-->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}

{% block content %}
    <br>
    <!-- Root container for the about page's content -->
    <div class="container-fluid  bg-gray-300">
        <!-- About -->
        <!-- Update the text inside <p> tags in order to update the about text -->
        <div class="row">
            <div class="col-lg-12 mb-4">
                <div class="card shadow mb-4 w-75 centered">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">At a Glance</h6>
                    </div>
                    <div class="carousel">
                        <div class="p-4 minicard text-center">
                            <h4>21,354 ha</h4>
                            <h5>Mangrove Extent (2020)</h5>
                        </div>
                        <div class="p-4 minicard text-center">
                            <h4>12,142 ha</h4>
                            <h5>Mangrove Losses (2015-2020)</h5>
                        </div>
                        <div class="p-4 minicard text-center">
                            <h4>4,845 ha</h4>
                            <h5>Mangrove Gains (2015-2020)</h5>
                        </div>
                    </div>
                    <div class="carousel">
                        <div class="p-4 minicard text-center">
                            <h4>32</h4>
                            <h5>Restoration Projects (2010-2020)</h5>
                        </div>
                        <div class="p-4 minicard text-center">
                            <h4>19</h4>
                            <h5>Seedling Plantations</h5>
                        </div>
                        <div class="p-4 minicard text-center">
                            <h4>13</h4>
                            <h5>Green-Grey Infrastructure</h5>
                        </div>
                    </div>
                    <div class="carousel">
                        <a href="{% url 'download' %}">
                            <button type="button" class="btn btn-primary" href="{% url 'download' %}"
                                    style="margin-bottom: 20px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                     fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                </svg>
                                Download Data
                            </button>
                        </a>
                    </div>
                    <br>
                </div>
                <div class="card shadow mb-4 w-75 centered">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Charts</h6>
                    </div>
                    <div id="extent_chart">
                    </div>
                    <div id="change_chart">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
