{% extends "WebApp/app_base.html" %}
{% load static %}

{% block title %}Guyana Mangroves{% endblock %}
{% block script %}
    <!-- Custom styles-->

    <!-- Custom scripts-->
{% endblock %}

<!-- Begin Page Content -->
{% block content %}
    <div class="align-items-center justify-content-between bg-gray-300">
        <div style="position: relative;">
            <!-- Hero image in the home page -->
            <!-- If there an image that represents the tool/organization, please update the src in the <img> below -->
            <div>
                <img
                        class="img-fluid hero_style"
                        src="{% static '/images/hero.jpg' %}"
                        alt="Hero Image"
                >
                <div class="layer">
                </div>
                <div class="card-img-overlay ">
                    <div class="text-center text-white vertical_center">
                        <!-- Title on the hero image-->
                        <p id="title_class">
                            Guyana Mangroves </p>
                        <!-- Tagline under the title on the hero image-->
                        <p id="tagline_class">
                            This web application provides an interface to view mangrove data from Guyana. Through this
                            app you can interact with mangrove extent, change, and restoration data in Guyana.
                            This web app is created and maintanined by the SERVIR Science Coordination office</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search bar -->
        <!-- Search results are based on the title on the cards shown -->
        <div class="container-fluid">
                <!-- Description of the website -->
                <!-- The description can be updated in the <p> tags below -->
                <div class="row">`
                    <div class="col-lg-12 mb-4">
                        <br>
                        <div class="card shadow">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Description</h6>
                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                </div>
                                <p>Application description goes here...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Main Content -->

    <script src="{% static '/js/home.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% include 'WebApp/home_about.html' %}
{% endblock %}