{% extends "WebApp/map_base.html" %}

{% block layerControls %}
    <div class="d-flex toggle-row first-row">
        <div class="checkbox">
            <label>
                <input id="extent-selector" type="checkbox" data-toggle="toggle" checked onchange="toggle_extent()">
            </label>
        </div>
        <label>Extent</label>
    </div>
    <div class="d-flex toggle-row">
        <div class="checkbox">
            <label>
                <input id="change-selector" type="checkbox" data-toggle="toggle" checked onchange="toggle_change()">
            </label>
        </div>
        <label>Change</label>
    </div>
    <div class="d-flex toggle-row">
        <div class="checkbox">
            <label>
                <input id="impact-selector" type="checkbox" data-toggle="toggle" checked onchange="toggle_impact()">
            </label>
        </div>
        <label>Restoration Impacts</label>
    </div>
    <div class="d-flex toggle-row">
        <div class="checkbox">
            <label>
                <input id="impact-selector" type="checkbox" data-toggle="toggle" disabled>
            </label>
        </div>
        <label>Connectivity (Coming Soon)</label>
    </div>

    <div class="d-flex toggle-row">
        <div class="checkbox">
            <label>
                <input id="impact-selector" type="checkbox" data-toggle="toggle" disabled>
            </label>
        </div>
        <label>Forest Stand Height (Coming Soon)</label>
    </div>

    <div class="d-flex toggle-row">
        <div class="checkbox">
            <label>
                <input id="impact-selector" type="checkbox" data-toggle="toggle" disabled>
            </label>
        </div>
        <label>Biodiversity (Coming Soon)</label>
    </div>

    <div class="d-flex toggle-row">
        <div class="checkbox">
            <label>
                <input id="impact-selector" type="checkbox" data-toggle="toggle" disabled>
            </label>
        </div>
        <label>Above Ground Biomass (Coming Soon)</label>
    </div>

    <div class="d-flex toggle-row">
        <div class="checkbox">
            <label>
                <input id="impact-selector" type="checkbox" data-toggle="toggle" disabled>
            </label>
        </div>
        <label>Mudbank Dynamics (Coming Soon)</label>
    </div>

    <div class="d-flex toggle-row">
        <div class="checkbox">
            <label>
                <input id="impact-selector" type="checkbox" data-toggle="toggle" disabled>
            </label>
        </div>
        <label>Species Classification (Coming Soon)</label>
    </div>
{% endblock %}
{% block paramControls %}
    <div id="params-container" class="params-container">
        <div class="d-flex">
            <div class="form-group">
                <label>Primary Year</label>
                <select name="selected_year" id="selected_year"
                        class="form-control"
                        onchange="redraw_map_layers()">
                    <option value="0" selected="selected">Loading...</option>
                </select>
            </div>
            <a role="button" class="float-left pt-2" href="#" data-bs-toggle="popover"
           title="Primary Year"
           data-bs-trigger="focus"
           data-bs-content="This dropdown determines the year for which data will be loaded. If comparison mode is enabled, this data will appear on the left pane of the map.">
            <i class="fa-solid fa-circle-info ml-2 info_btn"></i></a>
        </div>
        <div class="d-flex">
            <div class="form-group">
                <label>Region</label>
                <select name="selected_region" id="selected_region" class="form-control"
                        onchange="redraw_map_layers()">
                    <option value="0" selected="selected">All</option>
                    <option value="1">Region 1</option>
                    <option value="2">Region 2</option>
                    <option value="3">Region 3</option>
                    <option value="4">Region 4</option>
                    <option value="5">Region 5</option>
                    <option value="6">Region 6</option>
                </select>
            </div>
            <a role="button" class="float-left pt-2" href="#" data-bs-toggle="popover"
           title="Region"
           data-bs-trigger="focus"
           data-bs-content="This dropdown determines the region for which data will be loaded.">
            <i class="fa-solid fa-circle-info ml-2 info_btn"></i></a>
        </div>
        <div class="d-flex" id="comparison-selector">
            <div class="d-flex">
                <div class="form-group">
                    <label>Comparison Year</label>
                    <select name="comparison_year" id="comparison_year"
                            class="form-control"
                            onchange="redraw_map_layers()">
                        <option value="0" selected="selected">None</option>
                    </select>
                </div>
            <a role="button" class="float-left pt-2" href="#" data-bs-toggle="popover"
           title="Comparison Year"
           data-bs-trigger="focus"
           data-bs-content="This dropdown determines whether to enable a slider, and if so, which year of data should be displayed on the right pane of the map.">
            <i class="fa-solid fa-circle-info ml-2 info_btn"></i></a>
            </div>
        </div>
    </div>
{% endblock %}
{% block legend %}
    <div class="h-100 text-center">
        <table class="table-sm" id="legend-table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Layer</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="extent_label">
                    </div>
                </td>
                <td>
                    <label>Extent</label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="gain_label">
                    </div>
                </td>
                <td>
                    <label>Change (Gain)</label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="loss_label">
                    </div>
                </td>
                <td>
                    <label>Change (Loss)</label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="restoration_label">
                    </div>
                </td>
                <td>
                    <label>Restored Area</label>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="selected_label">
                    </div>
                </td>
                <td>
                    <label>Selected Polygon</label>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
